|===
| # |source | destination | protocole | remarque

|
| *j8.API* +
_{{j8.API.host.re7}}_ +
{{j8.API.ip.re7}}
|  *j8.bdd* +
_{{j8.bdd.host.re7}}_ +
{{j8.bdd.ip.re7}}
| {{protocole}}
| {{remarque}}

|===

