
.environment list
{{#each env}} * {{this}}
{{/each}}

{{#with component}}
.flows in dev
|===
| ref | source | destination | proto | comment

| 1
| {{user.label}} on ({{user.ip}})
| {{api.label}} on {{api.dev.host}} ({{api.dev.ip}})
| https:443
| no proxy

| 2
| {{api.label}} on {{api.dev.host}} ({{api.dev.ip}})
| {{db.label}} on {{db.dev.host}}  ({{db.dev.ip}})
| tcp:27017
| TLS 1.2

|===
{{/with}}


